@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	--primary-bg: #141414;
}

body {
	font-family: 'Manrope', sans-serif;
	color: #bfbfbf;
	padding: 30px 5%;
}
